@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Lobster+Two&display=swap');

body {
    margin-bottom: 0 !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Cormorant', serif; 
    color: rgb(67, 52, 54);  
}

#page {
    background-color: #F0F0F0;
}

.entry-header {
    background-color: rgb(148, 125, 128);
}

.callout {
    background-color: transparent;
    border:none;
}

.header-title, h1 {
    color: rgb(67, 52, 54);
    margin: 5rem 0 2rem 1rem;
    font-family: 'Cormorant', serif;
}

.header-title p {
    font-family: 'Lobster Two', cursive;
    margin: -1rem 0 0 1rem;
}


.site-header {
    background: rgb(148, 125, 128);
}

.custom-logo {
    padding: 1rem;
}

.entry-title-block-style {
    margin-left: 2rem;
}



.site-footer {
    background: rgb(67, 52, 54);
    color: white;
    padding-top: 2.3rem;
}

.site-info {
    background: rgb(20,20,20);
    padding: 1.5rem 2rem;
    margin-top: 5rem;
}

.site-title {
    margin-top: 5rem;
}

.menu a, .menu .button {
    font-size: 1.3rem;
    font-family: 'Cormorant', serif;
    padding: 1rem 2rem;
    color:rgb(67, 52, 54);
    margin-top: 1.2rem;
}

.menu a:hover, .menu .button:hover {
    background: rgb(67, 52, 54);
    color: white;
    font-weight: 700;

}

/* About Page */

.jr-insta-thumb {
    margin: 2rem 4rem;
}

#wpforms-form-174 {
    margin-left: 3rem;
}


/* footer */



.footer-title {
    color: white;
}

.menu-social-menu-container > #social > .menu-item > a {
    margin-top: 0;
}